body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.chart-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 4px;
}

.chart-subtitle {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: steelblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: lightgreen;
}

.axis text {
    font-size: 12px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

.bar {
    fill: royalblue;
}

.bar:hover {
    fill: darkorange;
}

.footer {
    margin-top: 1px;
    text-align: center;
    font-size: 16px;
    color: black;
}
